[Unit]
Description=nginwho - nginx log parser and analyzer
After=Network.target

[Service]
Type=simple
RemainAfterExit=yes
User=root
ExecStart=/usr/local/bin/nginwho --logPath:/var/log/nginx/access.log --dbPath:/var/log/nginwho.db --interval:30 --show-real-ips:true --block-untrusted-cidrs:true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
